body {
  font-family: $font-family-base;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

header {
  margin-top: 37px;
}

#menuHeader {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s;

  ul {
    gap: 66px;
  }
}

.navbar-toggler span {
  display: block;
  background-color: #000000;
  height: 2px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;

  &:nth-child(1) {
    margin-top: 0.3em;
  }

  &:nth-child(1),
  &:nth-child(2) {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

.navbar-toggler:not(.collapsed) span {
  background-color: #ffffff;

  &:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
  }

  &:nth-child(2) {
    transform: translate(15%, 33%) rotate(-45deg);
  }
}

#hero {
  background: url(../img/background-hero.png);
}