@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$gutters: (
	4: $spacer * 2,
);

$font-family-headings: "Alata", serif;
$font-family-base: "Sofia Pro", serif;

$header-height: 71px;
$header-top: 29px;

$navbar-back: #000000;

$hero-text: #ffffff;
$hero-button-color: #000000;
$hero-button-back: #f9d023;
