// Bootstrap
@import "~bootstrap/scss/bootstrap";

// fonts
@import './font/alata';

// variables
@import './variables';

// layout and structure
@import './layout';

// main content pane styles
@import './components/content';