.navbar-nav {
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: right;

	color: #000000;
}

#hero {
	background: url("../img/background-hero.png?as=webp");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	margin-bottom: 93px;
}

.hero__heading {
	font-size: 115px;
	line-height: 130px;

	padding-bottom: 41px;

	color: $hero-text;
}

.hero__text {
	font-size: 25px;
	line-height: 35px;

	text-align: center;
	padding-bottom: 79px;

	color: $hero-text;
}

.hero__button {
	padding: 19px 40px 15px;
	background-color: $hero-button-back;
	color: $hero-button-color;
}

.hero__scroll {
	bottom: 55px;

	&-line {
		width: 1px;
		height: 101px;

		background: #f6d330;
		transform: matrix(-1, 0, 0, 1, 0, 0);
	}

	&-text {
		font-size: 14px;
		line-height: 14px;

		color: rgba(255, 255, 255, 0.7);
	}
}
