$opensans-font-path: "../../font/alata" !default;

// regular
@font-face {
  font-family: 'Alata';
  src: url('#{$opensans-font-path}/alata-regular.ttf');
  src: url('#{$opensans-font-path}/alata-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}