$sofiapro-font-path: "../font/sofiapro" !default;

// regular
@font-face {
  font-family: 'Sofia Pro';
  src: url('#{$sofiapro-font-path}/sofiapro-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}